<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body align="center">
<table border="0" style="margin-top:30px;width:1000px">
    <tbody>
    <tr width="100%">
        <td width="50">&nbsp;</td>
        <td width="950">
            <b>
                요청하신 페이지가 존재하지 않거나, 응답에 일시적인 에러가 발생 되었습니다.<br>
                잠시 후 다시 시도해 주시길 바랍니다.<br>
            </b><br>
            문제가 지속되시면 아래의 메일로 문의 주시길 바랍니다.<br>
            문의: <a href="mailto:help@danal.co.kr">help@danal.co.kr</a><br>
            <br>
            감사합니다.<br>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
